
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <style>
        .count-badge {
            position: absolute;

            right: 70px;
            background-color: gray;
            color: white;
            border-radius: 9999px;
            padding: 0.2em 0.6em;
            font-size: 0.75rem;
        }
    </style>
</head>
<body>
  {% with item_count=cart|length %}
    <header class="bg-gray-100 shadow items-center justify-between flex">
        <div class="container mx-auto flex justify-between items-center p-4 relative">
            <h1 class="text-lg font-bold">فروشگاه</h1>


                 {% if request.user.is_authenticated%}
                    <a href="{% url 'orders:order_list'%}" class="text-gray-600 hover:text-blue-600 transition duration-200">لیست سفارشات</a>
                    <a href="{% url 'accounts:logout'%}" class="text-gray-600 hover:text-blue-600 transition duration-200">خروج از حساب کاربری</a>
                {%endif%}
                <a id="cartIcon" href="{% url 'cart:cart_detail'%}" class="relative text-gray-600 hover:text-blue-600 transition duration-200">

                    <span class="count-badge " id="item_count">{{item.count}}</span>
                    <span class="ml-1">سبد خرید</span>
                </a>

        </div>
    </header>
   {% endwith %}

</body>
</html>